{%  extends 'base.html' %}

{%  block title %} Class List {% endblock %}
{% block body %}
    
    {% for object in object_list %}
        
{#        <p> {{ object }}</p>#}
{#        <a href="http://localhost:8000/student/1">1</a>#}
        
{#        {{ object.pk }}#}
        <p>
        <a href="http://localhost:8000/class/{{ object.pk }}">{{ object }}</a>
        
      
        </p>
        
          
{#        <p>#}
{#             <a href="{% url 'course-delete' object.pk %}">Delete this student</a>#}
{#        #}
{#        </p>#}
        
        
    {% endfor %}
    
           <p>
            <a href="{% url 'class-create' %}">Create Class</a>

        
        </p>
    
    
{% endblock %}