{%  extends 'base.html' %}

{%  block title %} Lecture List {% endblock %}
{% block body %}
    
    {% for object in object_list %}
        
{#        <p> {{ object }}</p>#}
{#        <a href="http://localhost:8000/student/1">1</a>#}
        
{#        {{ object.pk }}#}
        <p>
        <a href="http://localhost:8000/lecture/{{ object.pk }}">{{ object }}</a>
        </p>
        
         
        
       
    
      
        
        
    {% endfor %}
    
    <p>
    -------------------------------------------------------------------------
    </p>
    
    <p>
      
     <a href="{% url 'lecture-create' %}">Create New Lecture</a>
        
        </p>
        
      
    
    
{% endblock %}

