<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create_Semester</title>
</head>
<body>
<h1>Semester Create</h1>
    <form method="post" action="{% url 'semester-create' %}">
        {% csrf_token %}
        {{ form.as_p }}
{#        {{ semester_form.as_p }}#}
        <button type="submit" class="btn btn-primary">
            Create
        </button>
    </form>


</body>
</html>