{%  extends 'base.html' %}

{%  block title %} Semester List {% endblock %}
{% block body %}
    
    {% for object in object_list %}
        
{#        <p> {{ object }}</p>#}
{#        <a href="http://localhost:8000/student/1">1</a>#}
        
{#        {{ object.pk }}#}
        <p>
{#        <a href="http://localhost:8000/semester/{{ object.pk }}">{{ object }}</a>#}
        <a href="{% url 'semester-detail' object.pk %}">{{ object }}</a>

        </p>
        
        
    {% endfor %}
    
           <p>
          
            <a href="{% url 'semester-create' %}">Create New Semester</a>
        
        </p>
    
    
{% endblock %}


